body {
font-family: 'Tomorrow', sans-serif;
background: #302847;
color: white;
text-shadow: 1px 1px 15px #000;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
color: grey;
}

.navbar-brand
{
  color:white;
  font-size: 25px;
  height: 40px;
}
.nav-link
{
  font-family: 'Tomorrow', sans-serif;
  color:grey;
  font-size: 25px;
  margin: 0px;
}
.center {
  text-align: center;
}
.navbar {
  height: 53px;
  width: 100%;
  padding: 0px;
}
#navbarResponsive {
  background-color: #343A40;
  width: 100%;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('imagemain2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.para {
  font-family: 'Roboto', sans-serif;
}

#firstText {
  padding-top: 15px;
  display: block;
  border: 1px blue;
}
#contacts {
  padding-top: 100px;
  text-align: center;
}
#paracontacts {
text-align: center;
padding-top: 20px;
}
@media (max-width: 992px) {
 h1{
   font-size: 28px;
 }
 p {
   font-size: 20px;
 }
}
